@import "form-review.less";

.form-head {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 40px;

}



