.form-review {
  background-color: #FFFFFF;
  color: #000000;
  padding: 15px;
  margin: 20px;

  &__name {

  }

  &__tel {

  }
  &__details {

  }
  &__places {

  }
  &__emotions {

  }
  &__button {
    background-color: #81B3D3;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
  }

}


