.form-review {
  margin: 5px 0 25px 0;
  padding: 15px;
  font-size: 18px;
  font-weight: normal;
  color: @text-color;
  background-color: @background-color;

  &__button {
    padding: 15px 0 15px 0;
    background-color: @navigation-color;
    font-size: 20px;
    font-weight: bold;
    color: @background-color;
  }

}


