@import "form-review-style.less";

.form-head {
  background-color: #FFFFFF;


}

h2 {
  color: #000000;
  font-family: PT Sans;
  font-size: 14px ;
  font-weight: bold;
  line-height: normal;
}

p {
  color: #000000;
  font-family: PT Sans;
  font-size: 12px ;
  font-weight: normal;
  line-height: normal;
}

