.main-photogallery {
  margin-top: 30px;
  padding: 10px 0 5px 0;
  color: @text-color;
  background-color: @background-color;

  &__author {
    margin: 1px 0 17px 0;
    padding-bottom: 25px;
    font-size: 14px;
    text-transform: none;
  }

  &__title {
    margin: 14px 0 1px 0;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: @text-color;
  }
}
