.main-reason {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  &__roster {
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__simple {
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__image {

  }
  &__tourist {
    background-color: #FFFFFF;
    color: black;
    padding-left: 5px;
    padding-right: 20px;
    margin-bottom: 5px;
    line-height: 0.8;
    text-align: left;

    &--house {
      background-image: url("/img/icon-house.svg");
      background-repeat: no-repeat;
      background-position: center center;
      height: 40px;
      width: 40px;
      display: inline-block;
      margin-bottom: 5px;
      margin-top: 15px;
      padding: 15px;
    }
    &--souvenirs {
      background-image: url("/img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: center center;
      height: 40px;
      width: 40px;
      display: inline-block;
      margin: 20px;
      padding: 20px;
    }
    &--food {
      background-image: url("/img/icon-burger.svg");
      background-repeat: no-repeat;
      background-position: center center;
      height: 40px;
      width: 40px;
      display: inline-block;
      margin: 20px;
      padding: 20px;
    }
  }
  &__icon {
  }

  &--border {
    border-top: #D6D6D6 1px solid;
    border-bottom: #D6D6D6 1px solid;
  }

}

