@import "video-bottom.less";

.main-photogallery {
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 30px;
  &__picture {
  }

  &__author {
    text-transform: none;
    font-size: 14px;
    padding-bottom: 25px;
    margin-top: 1px;
    margin-bottom: 17px;
  }

  &__title {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: 14px;
    margin-bottom: 1px;
  }
}



