.main-nav {
  margin-bottom: 0;
  color: @background-color;
  background-color: @navigation-color;

  &__list {
    margin: 0;
    padding: 0;

  }
  &__item {
    list-style: none;
    vertical-align: middle;
    margin: 0;
    padding: 16px 0 16px 0;
    border-bottom: 1px #678fa8 solid;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

}
