@import "main-head.less";
@import "main-reason.less";
@import "main-reason-decoration.less";
@import "main-travel.less";

.main-content {
  background-color: #FFFFFF;
  padding: 15px ;
  margin-top: 25px;
  margin-bottom: 25px;

}
