.main-travel {
  background-color: #FFFFFF;
  color: #000000;
  font-family: PT Sans;
  &__interest {
    color: #000000;
    font-family: PT Sans;
    font-size: 18px ;
    font-weight: bold;
    line-height: normal;
  }

  &__text {
    color: #000000;
    font-family: PT Sans;
    font-size: 12px ;
    font-weight: normal;
    line-height: normal;
  }

  &__button {
    background-color: #81B3D3;
    color: #FFFFFF;
    font-family: PT Sans;
    font-size: 18px ;
    font-weight: bold;
    line-height: normal;
  }

  &__image {

  }
}
