.main-reason-decoration {
  margin: 2px 5px 0 5px;
  padding: 20px 10px 0 10px;
  font-size: 14px;
  color: #ffffff;

  &--color {
    padding: 40px 10px 25px 10px;
    color: #ffffff;
    background-color: #81b3d3;
  }
}




