.main-reason {
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  color: black;
  background-color: #FFFFFF;

  &__roster {
    padding: 1px 5px 1px 5px;
    font-size: 16px;
  }

  &__simple {
    padding: 0 5px 1px 5px;
  }

  &__tourist {
    margin-bottom: 5px;
    padding: 0 20px 0 5px;
    line-height: 0.8;
    text-align: left;
    color: black;
    background-color: #ffffff;

    &--house {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 15px 0 5px 0;
      padding: 15px;
      background-image: url("/img/icon-house.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--souvenirs {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 20px;
      padding: 20px;
      background-image: url("/img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--food {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 20px;
      padding: 20px;
      background-image: url("/img/icon-burger.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--border {
    border-top: #d6d6d6 1px solid;
    border-bottom: #d6d6d6 1px solid;
  }

}

