.main-reason-decoration {
  color: #FFFFFF;
  font-size: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;

  &--color {
    color: #FFFFFF;
    background-color: #81B3D3;
    padding: 20px;
  }
}




