@import "fonts.less";
@import "video-bottom-style.less";

.main-photogallery {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'PT Sans';
  &__picture {

  }

  &__author {
    font-size: 16px;
  }

}



