.main-travel {
  margin-top: 35px;
  color: @text-color;
  background-color: @background-color;

  &__interest {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: @text-color;
  }

  &__text {
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: @text-color;
  }

  &__button {
    margin: 15px;
    padding: 17px 45px 17px 45px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: @background-color;
    background-color: @navigation-color;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }
}
