@import "form-review.less";

.page-footer {
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 30px;

  &__hashtag {
    font-weight: bolder;
    text-align: center;
    &--color {
      font-size: 21px;
      color: #000000;
    }
  }

  &__social {
    padding: 5px;
  }

  &__copyright {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__image {
    background-image: url("/img/htmlacademy.svg");
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }

}
