.page-footer {
  background-color: #FFFFFF;
  color: #000000;
  font-family: PT Sans;

  &__hashtag {
    color: #000000;
    font-family: PT Sans;
    font-size: 16px ;
    font-weight: bold;
    line-height: normal;
  }

  &__social {

  }

  &__copyright {
    color: #000000;
    font-family: PT Sans;
    font-size: 12px ;
    font-weight: normal;
    line-height: normal;
  }

  &__image {

  }

}
