.page-header {
  background-color: #FFFFFF;
  margin-top: 0px;

  &__photo {
    background-image: url("/img/text-sedona-index.svg");
    background-repeat: no-repeat;
    background-position: 70% 50%;
  }

  &__photo-form {

  }

  &__logo {
    text-align: center;
    vertical-align: top;
    horiz-align: center;
    margin-top: 0;
  }
}
