.social-link {
  horiz-align: center;

  &--twitter {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-right: 1px;
    padding: 1px;
    color: #ffffff;
    background-image: url("/img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-color: #81b3d3;
    background-position: center center;
  }

  &--facebook {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 1px 0 1px;
    color: #ffffff;
    background-image: url("/img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-color: #81b3d3;
    background-position: center center;
  }

  &--youtube {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 1px 0 1px;
    color: #ffffff;
    background-image: url("/img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-color: #81b3d3;
    background-position: center center;
  }

}


