@import "page-header.less";
@import "main-nav.less";
@import "main-content.less";
@import "main-travel.less";
@import "main-reason.less";
@import "main-reason-decoration.less";
@import "form-head.less";
@import "form-review.less";
@import "main-nav-toggler.less";
@import "main-photo-head.less";
@import "main-photogallery.less";
@import "page-footer.less";
@import "social-links.less";
@import "social-link.less";
@import "video-bottom.less";
@import "contact-information.less";
@import "main-head.less";
@import "fonts.less";

body {
  background-color: #FFFFFF;
  font-family: 'PT Sans';
  line-height: normal;
  text-transform: uppercase;
  margin: 0;

  h2 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bolder;
  }

  h4 {
    color: #000000;
    font-size: 18px;
    font-weight: bolder;
  }

  h1 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  h5 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  label {
    font-size: 14px;
    font-weight: normal;
  }

  legend {
    font-size: 18px;
    font-weight: bold;
  }

  input {
    font-size: 16px;
    font-weight: bold;
  }

  textarea {
    font-size: 18px;
    font-weight: bold;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}
