.video-bottom {
  background-color: #FFFFFF;
  color: #000000;
  font-family: PT Sans;
  font-size: 12px ;
  font-weight: normal;
  line-height: normal;
}

h2 {
  font-size: 18px ;
  font-weight: bold;
  line-height: normal;
}

